*{
	margin: 0;
	padding: 0;
}
.wrappeer{
	width:915px;
	height:auto;
	margin: auto;
	overflow:auto;
}
#header{
	width: 915px;
	height: 120px;
	float: left;
}
.logo
{
	width:234px;
	height:120px;
	float:left;
}
.header_right
{
	width:681px;
	height:120px;
	float:left;
}
.loginarea form{
	float:right;
}
.loginarea ul{
	float:left;
	color:black;
	font-weight:bold;
	margin-left:100px;
}
.loginarea form input{
	color:black;
	font-weight:bold;
	font-style:italic;
	font-size:15px;
	
}
.button{
	width:681px;
	height:32px;
	float:left;
}
.button ul {
	float:right;
	list-style:none;
}
.button ul li{
	float:left;
	display:block;
	width:110px;
	height:32px;
	background-image:url(wd/bth.png);
	background-repeat:no-repeat;
	text-align:center;
	line-height:32px;
	color:#666;
	font-size:13px;
	margin-left:1px;
}
.button ul li a{
	display:block;
	width:110px;
	height:32px;
	text-decoration:none;
	color:#666;
}
.button ul li a:hover{
	background-image:url(wd/bth.png);
	background-repeat:no-repeat;
	background-position:0 -2.9in;
	color:black;
}
.loginarea{
	width:681px;
	height:88px;
	float:left;
}
#footer{
	width:915px;
	height:170px;
	float:left;
}
.footer_paytag{
	width:915px;
	height:76px;
	float:left;
	background-image:url(wd/pay.png);
	background-repeat:no-repeat;
	background-color:green;;
}
.footer_b{
	width:915px;
	height:94px;
	float:left;
}
.footer_menu{
	margin:auto;
	margin-top:20px;
	width:640px;
	height:15;
}
.footer_menu ul{
	list-style:none;
}
.footer_menu ul li{
	float:left;
	display:block;
	width:100px;
	text-align:center;
	font-size:15px;
}
.footer_border{
	border-right:1px solid black;
}
.footer_menu ul li a
{
	text-decoration:none;
	color:gray;
}
.footer_menu ul li a:hover{
	color:black;
}
.footer_copyrt{
	margin:auto;
	width:500px;
	margin-top:60px;
	text-align:center;
	font-size:14px;
}
.content
{
width:915px;
height:auto;
float:left;
}
.lt_content
{
width:234px;
height:auto;
float:left;
}
.lt_content_lis
{
width:234px;
height:335px;
float:left;
background-color:black;
margin-bottom:1px;
}
.lt_content_lis ul{
	margin-left:40px;
	margin-top:20px;
	list-style:none;
}
.lt_content_lis ul li{
	margin-bottom:15px;
	font-weight:bold;
}
.lt_content_lis ul li a{
	color:white;
	text-decoration:none;
}
.lt_content_lis ul li a:hover{
	color:gray;
}
.lt_content_cat
{
width:234px;
height:349px;
float:left;
background-color:white;
background-image:url(wd/3.jpg);
background-repeat:no-repeat;
background-color:gray;
margin-bottom:1px;
}
.lt_content_cat ul{
	margin-left:50px;
	margin-top:20px;
	float:left;
	list-style:none;
}
.lt_content_cat ul li{
	display:block;
	width:130px;
	height:20px;
	background-image:url(wd/catb1.png);
	background-repeat:no-repeat;
	text-align:center;
	line-height:20px;
	font-style:italic;
	font-size:15px;
	margin-bottom:6px;
}
.lt_content_cat ul li a{
	display:block;
	width:130px;
	height:20px;
	color:white;
	text-decoration:none;
}
.lt_content_cat ul li a:hover{
	background-image:url(wd/cath.png);
	background-repeat:no-repeat;
	color:gray;
}

.lt_content_rev
{
	width:234px;
height:338px;
float:left;
margin-bottom:1px;
}
.lt_content_rev_sb{
	width:234px;
height:160px;
background-image:url(wd/sb.png);
}
.lt_content_rev_in{
	width:234px;
height:178px;
}
.rt_content{
		width:681px;
height:auto;
float:left;
}
.rt_content_top{
	width:681px;
height:335px;
float:left;
background-image:url(wd/banner2.png);
}
.rt_cont_cat{
	width:681px;
height:auto;
float:left;
}
.rt_cont_cat ul {
	float:left;
	list-style:none;
}
.rt_cont_cat ul li{
	float:left;
	display:block;
	width:681px;
	height:370px;
	border:1px solid black;
	text-align:center;
	line-height:32px;
	color:#666;
	font-size:13px;
	margin-left:1px;

}
.rt_cont_cat ul li a{
	display:block;
	width:223px;
	height:200px;
	text-decoration:none;
	color:#666;
}

.loginarea form ul{
	list-style:none;
}
.loginarea ul li{
	float:left;
	display:block;
	width:60px;
	text-align:center;
	font-size:15px;
}
.loginarea ul li a
{
	text-decoration:none;
	color:gray;
}
.loginarea ul li a:hover{
	color:red;
}